.root {
    max-height: 100%;
    width: 100%;
    height: 400px;

    background-color: var(--background-darker);
    
    position: relative;
    overflow: hidden;
}

.root:hover {
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition-property: all;
    transition-duration: .8s;
}

.image:hover {
    transform: scale(1.2625);
}

.info {
    position: absolute;

    /* top: 0;
    left: 0; */

    right: 0;
    bottom: 0;

    z-index: 1;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.title, .price {
    color: var(--primary-text-color);
    text-decoration: none;

    background-color: var(--background);
    padding: 1rem 1.5rem;
}

.root:hover .title, .root:hover .price {
    background-color: var(--primary-text-color);
    color: var(--background);
}