.root {
    position: relative;

    width: 1.5rem;
    height: 1.5rem;

    transition-property: color;
    transition-duration: .2s;
}

.root:hover {
    color: var(--grey);
    cursor: pointer;
}

.badge {
    --size: 1.2rem;

    position: absolute;
    right: 0;
    bottom: 0;

    height: var(--size);
    min-width: var(--size);
    padding: 0 .2rem;

    text-align: center;
    line-height: var(--size);
    transform: translate(30%, 30%);

    background-color: var(--accent);
    border-radius: 50%;

    font-size: 0.6rem;
    font-weight: 500;
    color: white;
}
